.btn,
body {
    font-weight: 400;
    font-family: var(--secondary-font)
}

.btn,
body,
html {
    font-family: var(--secondary-font)
}

.btn-fill-primary,
.btn-fill-warning {
    color: #fff;
    box-shadow: 0 22px 20px -15px rgba(0, 106, 255, .5)
}

.btn-fill-primary,
.btn-fill-warning,
.btn-outline-dark {
    box-shadow: 0 22px 20px -15px rgba(0, 106, 255, .5)
}

.bg-2,
.btn {
    position: relative
}

:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --third-font: 'Playfair Display', sans-serif;
    --primary: #4d3a94;
    --gold: #FFB830;
    --dark: #110d20;
    --semi-dark: #1a1b2e;
    --semi-dark-2: #212235;
    --text-gray: #cacbd3;
    --red: #ec625f;
    --border: #e2e9ee;
    --light: #f4f8fb
}

:root .light-theme {
    --text-gray: #001033
}

:root .light-theme .theme-footer {
    --text-gray: #9193a8
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

body {
    font-size: 16px;
    line-height: 1.4;
    overflow-x: hidden;
    cursor: default;
    background-color: var(--dark)
}

body.light-theme {
    background-color: #ecf4fa
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    outline: 0;
    height: 54px;
    line-height: 1;
    padding: 0 36px;
    border-radius: 2px;
    letter-spacing: .8px;
    white-space: nowrap;
    overflow: hidden;
    transition: box-shadow .2s, background-color .2s, border-color .2s, color .2s
}

.btn-sm {
    height: 48px;
    padding: 0 24px;
    font-size: 14px
}

.btn-rounded {
    border-radius: 50px
}

.btn-fill-primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 16px
}

.btn-fill-primary:hover {
    background-color: #2b1e66;
    border-color: #2b1e66
}

.btn-fill-warning {
    background-color: var(--gold);
    border: 1px solid var(--gold)
}

.btn-fill-warning:hover {
    background-color: #d2962a;
    border-color: #d2962a
}

.btn-outline-dark {
    background-color: var(--semi-dark);
    color: rgba(255, 255, 255, .7);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 16px
}

.btn-outline-dark.level-up {
    background-color: rgba(255, 255, 255, .03)
}

.btn-outline-dark:hover {
    border-color: rgba(255, 255, 255, .5);
    color: #fff
}

.light-theme .btn-outline-dark {
    background-color: var(--light);
    border-color: var(--border);
    color: var(--dark)
}

.light-theme .btn-outline-dark:hover {
    background-color: var(--border)
}

.btn-fill-success {
    background-color: #15cd72;
    color: #fff;
    border: 1px solid #15cd72;
    box-shadow: 0 22px 20px -15px rgba(21, 205, 113, .5)
}

.primary-color,
.se-head .se-title-1 {
    color: var(--primary)
}

.btn-fill-success:hover {
    background-color: #13b966;
    border-color: #13b966
}

.btn-icon {
    margin-right: 10px;
    width: 20px
}

.btn-icon.right-icon {
    margin-right: unset;
    margin-left: 10px
}

.btn.shadow-off {
    box-shadow: unset !important
}

.btn:hover {
    box-shadow: none
}

@media only screen and (max-width:1199px) {
    .btn {
        font-size: 14px;
        height: 46px;
        padding: 0 26px
    }
}

.bg-2 {
    background-color: #19162b;
    width: 90%;
    max-width: 1400px;
    align-items: center;
    margin: auto;
    border-radius: 40px
}

.light-theme .bg-2 {
    position: relative;
    background-color: #fff;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    z-index: 1
}

.se-head {
    text-align: center;
    max-width: 680px;
    margin: 0 auto 75px
}

.se-head .se-title-1 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase
}

.se-head .se-title-1-2 {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px
}

.se-head .se-title-1-3 {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase
}

.se-head .se-title-2 {
    font-family: var(--primary-font);
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 25px
}

.light-theme .se-head .se-title-2 {
    color: var(--dark)
}

@media only screen and (max-width:1199.98px) {
    .se-head .se-title-2 {
        font-size: 36px
    }
}

@media only screen and (max-width:767.98px) {
    .se-head .se-title-2 {
        font-size: 26px
    }
}